<!-- views/main.ejs -->
<h2 class="welcome">Welcome!</h2>
<h4>Library for You!</h4>
<ul class="auth">
    <li><a class="btn-auth" href="/login">Log in</a></li>
    <li><a class="btn-auth" href="/signup">Sign up</a></li>
</ul>
<button>
    <a href="/library">Go to library</a>
</button>